<html>
    <head>
        <title>Foo.bar.baz</title>
        <link rel="stylesheet" type="text/css" href="some.css" />
    </head>
    <body>
        <div id=header class=center>
            <h1> <a id="homelink" href="index.html">Foo.bar.baz</a> </h1>
            foo bar baz
            <br />
            some interesting intro content goes here
            <br />
        </div>
        <div id=posts class=center>
            <h1> Posts </h1>
            <ul>
<!-- INDEX CONTENT -->
            </ul>
        </div>
    </body>
</html>
