<html>
    <head>
        <title>Foo.bar.baz - <!-- POST TITLE --> (<!-- POST DATE -->)</title>
        <link rel="stylesheet" type="text/css" href="../some.css" />
    </head>
    <body>
        <div id="header" class="center">
            <a id="homelink" href="../index.html">Foo.bar.baz</a>
        </div>
        <div id="content" class="center">
            <h1 id="title"> <!-- POST TITLE --> </h1>
            <div id="date"> <!-- POST DATE --> </div>
<!-- POST CONTENT -->
        </div>
    </body>
</html>
